
@{
    ViewData["Title"] = "StudList";
}

<h1>StudList</h1>
<table class="table table-bordered">
    <tr>
        <th>RollNo</th>
        <th>Name</th>
        <th>Percentage</th>
    </tr>

    @foreach (Student a in (IEnumerable<Student>)ViewData["StudList"])
    {
        <tr>
            <th>@a.RollNo</th>
            <th>@a.Name</th>
            <th>@a.Percentage</th>
        </tr>

    }
</table>

<h4>using ViewBag</h4>
<table class="table table-bordered">
    <tr>
        <th>RollNo</th>
        <th>Name</th>
        <th>Percentage</th>
    </tr>
    @foreach (Student  a in ViewBag.Student)
    {
        <tr>
            <th>@a.RollNo</th>
            <th>@a.Name</th>
            <th>@a.Percentage</th>
        </tr>

    }
</table>



